<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-button (click)="sidenav.open ()" ><mat-icon>menu</mat-icon></button>
      <!--  <span>HOME</span> -->
      <span><a mat-button routerLink="">My App Name</a></span>
      <span class="spacer"></span>
      <a mat-button routerLink="dashboard">Dashboard</a>
      <a mat-button routerLink="projects">Projects</a>
      <a mat-button routerLink="tasks">Tasks</a>
      <a mat-button routerLink="">Logout</a>
    </mat-toolbar-row>
  </mat-toolbar>